<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <add name="Northwind" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\2013-07-20\Source_Code\twMVC#10_Sample\4_專案分層_ADONET\MVC_MutilLayers_ADONET\MVC_MutilLayers_ADONET\App_Data\Database1.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
</configuration>